{% extends "sleepy/web/base.html" %}
{% load i18n static %}
{% block content %}

<section class="home">
    <div class="row">
        <div class="large-12 columns">
            <div class="large-6 columns">
                <h1 class="logo"><img src="{% static 'img/logo-small.png' %}">YouNeedToSleep</h1>
            </div>
            <div class="large-6 columns">
                <ul class="button-group">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'sleepy-logout' %}">Logout</a></li>
                    {% else %}
                        {# <li><a class="button" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></li> #}
                        <li><a class="login" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google Account</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="large-10 columns tagline">
                <h3>
                    <strong>
                    Simple and effective time tracking
                    </strong>
                    to lean back and relax.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="large-10 columns pricing">
                <p><sup>$</sup>2 per month</p>
                <a href="#" class="button success">{% trans 'Register now' %}</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="large-10 columns">
            <img src="https://placehold.io/1400/400.png?text=Previw Image&retina=true">
        </div>
    </div>
</section>

<section class="footer">
    <footer class="row">
        <div class="large-12 columns horizontal-ruler">
            <div class="row">
                <div class="large-6 columns">
                    <p>© 2014 Christopher Grebs and contributors.</p>
                </div>
            </div>
        </div>
    </footer>
</section>
{% endblock content %}
